.description {
  height: 4.75rem;
  max-width: 100%;
  /* background-color: green; */
  /* word-wrap: break-word; */
}
ul {
  padding-left: 0;
}
.company {
  display: flex;
  justify-content: space-between;
}
