.description-list {
  min-height: 4.75rem;
  max-width: 100%;
  padding-left: revert;
  /* background-color: green; */
  /* word-wrap: break-word; */
}

.company {
  display: flex;
  justify-content: space-between;
}
